body{
  margin: 0;
  padding: 0;
  background-color: #464646;
  color: white;
}

.header{
  padding: 20px;

  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .title{
    margin: 0;
  }
}

.wrapper{
  padding: 20px;
  margin: auto;
}

.options{
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c384ff;
  border-radius: 5px;
  background-color: #c384ff;

  &__input{
    width: 100%;
    margin-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
  }
  
  &__select {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
  }
}

.player {
  position: relative;
  margin: 20px auto 0;
  
  &__video{
    width: 100%;
    height: 100%;
  }
  
  &__video:hover + .player__console{
    visibility: visible;
    opacity:100%
  }

  &__console{
    position: absolute;
    bottom: 5px;
    margin: auto;
    width: 100%;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background-color: rgba(78, 88, 140, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &:hover{
      visibility: visible;
      opacity:100%
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  &__play{
    cursor: pointer;
    width: 18px;
    height: 18px;
  }

  .play-pause-btn {
    width: 18px;
  }
  .fullscreen-btn {
    width: 28px;
  }
  
  &__time{
    margin-left: 20px;
    line-height: 18px;
  }

  &__fullscreen{
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-left: auto;
  }


  .progress{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 4px;
    margin-bottom: 10px;
    border-radius:3px;
    background-color: rgba(164, 162, 162, 0.41);
    cursor: pointer;

    &__played{
      position: relative;
      height: 100%;
      z-index: 2;
      // transition: width .2s linear;
      background-color: rgba(255, 81, 81, 0.6);
      width:  0%;
    }

    &__played-btn{
      position: absolute;
      right: -5px;
      bottom: -3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(255, 81, 81);
      opacity: 0;
      transition: opacity .1s linear;
    }
    
    &__buffered {
      height: 100%;
      position: absolute;
      z-index: 1;
      transition: width 0.2s linear;
      background-color: rgb(234, 211, 211);
      width:0%;
    }
  }

}

.info {
  margin-top: 30px;

  &__item_type_status {
    background-color: #6bff6b;
  }

  &__item_type_error {
    background-color: #fa8383;
  }

  &__item_type_counter {
    background-color: white;
  }

  &__item-text{
    margin: 10px 0;
    white-space: break-spaces;
    line-height: 25px;
  }

  &__item{
    border-radius:10px;
    margin: 0 0 20px;
    padding: 3px;
    color: black;
  }
}

.footer{
  padding: 0 20px 20px;
  box-sizing:border-box;

  &__info {
    text-align: end;
    margin: 0;
  }

  &__link {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
  }
}