body{
  margin: 0;
  padding: 0;
  background-color: #464646;
  color: white;
}

.header{
  padding: 10px;

  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  &__info {
    text-align: center;
    margin: 0;
  }
  &__link {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
  }
}

.wrapper{
  padding: 20px;
  margin: auto;
}

.options{
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c384ff;
  border-radius: 5px;
  background-color: #c384ff;

  &__input{
    width: 100%;
    margin-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
  }
  
  &__select {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
  }
}

.player {
  position: relative;
  margin: 20px auto 0;
  
  &__video{
    width: 100%;
    height: 100%;
  }
}

.info {
  margin-top: 30px;

  &__item_type_status {
    background-color: #6bff6b;
  }

  &__item_type_error {
    background-color: #fa8383;
  }

  &__item_type_counter {
    background-color: white;
  }

  &__item-text{
    margin: 10px 0;
    white-space: break-spaces;
    line-height: 25px;
  }

  &__item{
    border-radius:10px;
    margin: 0 0 20px;
    padding: 3px;
    color: black;
  }
}